@font-face {
  font-family: Gilroy-Medium;
  src: url(/fonts/Gilroy-Medium.ttf) format("opentype");
}
@font-face {
  font-family: Gilroy-Bold;
  src: url(/fonts/Gilroy-Bold.ttf) format("opentype");
}

.gBold {
  font-family: Gilroy-Bold;
}

.gMed {
  font-family: Gilroy-Medium;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
